<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
</head>
<body>
    {% extends 'nav.html' %}
    {% block content %}

    <div>
        <h1>Good morning Jonathan,</h1>
        <h4>Here are some things that may require your attention.</h4>
    </div>

    {% endblock %}    
</body>
</html>