<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='imgs/logosmall.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/explore.css')}}">
    <script src="{{url_for('static', filename='js/explore.js')}}" defer></script>
</head>
<body>
    {% extends 'nav.html' %}
    {% block content %}
 
    
    {% import 'modal.html' as modal %}
    <div id="header">
        <h2 id="explore">Explore</h2>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for scores...">
        
    </div>
    <h5 id="description">Browse our collection of popular songs or search for specifics using the search bar!</h4>
    
    <!-- <nav> -->
    <div id="filters">
        <!-- link to recent? -->
        <button id="recent">Recently Updated</button> 
        <button id="popular">Popular</button>
        <button id="top">All Time</button>
        <button id="random">Random</button>
    </div>
    <!-- </nav> -->

    <section id="music-scores">
        <div id="music-scores-grid">
            {% for music in musics %}
            <div class="music-card" id="music-card-{{ music['_id'] }}" data-popular="{{ music.upvotes }}" data-recent="{{ music.Released }}" data-top="{{  music.upvotes / music.total_votes }}">
                <img src="https://musescore.com/static/musescore/scoredata/g/1ca52c87a89c2e04b64b21ca9166c6d5a73a484f/score_0.png@280x390?no-cache=1567010808&bgclr=ffffff&fmt=webp&qlt=80">
                <div class="card-info">
                    <h2 id="music-name">{{ music.name }}</h2>
                    <h5>Upvotes: {{ music.upvotes }}</h5>
                </div>
            </div>
            
            {{ modal.musicModal(music) }}

            {% endfor %}
        </div>
    </section>


    {% endblock %}    
</body>
</html>