<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <script src="{{url_for('static', filename='js/login.js')}}" defer></script>
</head>
<body>
    <div id="center">
        <div id="box">
            <h4>Unlock your musical potential!</h4>
            <form action="/login" method="POST">
                <label>Username</label>
                <input name="username" type="text">
                <label>Password</label>
                <input name="password" type="password">
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>