{% macro musicModal(musicInfo) -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='imgs/logosmall.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/modal.css')}}">
    <script src="{{url_for('static', filename='js/modal.js')}}" defer></script>
</head>
<body>
    <div class="modal-overlay" id="modal-overlay-{{ musicInfo['_id'] }}"></div>
    <div class="modal" id="modal-{{musicInfo['_id']}}">
        <div class="modal-left">
            <div class="pfp" style="background-image: url(https://musescore.com/static/musescore/scoredata/g/1ca52c87a89c2e04b64b21ca9166c6d5a73a484f/score_0.png@280x390?no-cache=1567010808&bgclr=ffffff&fmt=webp&qlt=80);"></div>
            <div class="buttons-array">
                <div class="upvotes">
                    <button data-id="{{ musicInfo['_id'] }}" onclick="songVote(this, true)">Upvote</button>
                    <button data-id="{{ musicInfo['_id'] }}" onclick="songVote(this, false)">Downvote</button>
                </div>
                <select>
                    <option>-- Select --</option>
                    <option>Planned</option>
                    <option>Working On</option>
                    <option>Mastered</option>
                </select>
                <button data-id="{{ musicInfo['_id'] }}" onclick="updateStatus(this)">Save Status</button>
                <button onclick="playSong(`{{ musicInfo['_id'] }}`)">Practice</button>
            </div>
        </div>
        <div class="modal-right">
            <h1>{{ musicInfo['name'] }}</h1>
            <h3>Composer: {{ musicInfo['composer'] }}</h3>
            <span>Released: {{ musicInfo['Released'] }}</span>
            <p>{{ musicInfo['Background'] }}</p>
        </div>
    </div>

</body>

{%- endmacro %}