<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <script src="{{url_for('static', filename='js/nav.js')}}" defer></script>
</head>
<body>
    <nav>
        <img id="logo" src="https://www.ds3ucsd.com/images/logos/logo-dark.png" alt="logo">
        <div id="links">
            <a href="/dashboard">Home</a>
            <a href="/dashboard">My Scores</a>
            <a href="/dashboard">Explore</a>
            <div id="pfp" style="background-image: url(https://cdn.discordapp.com/attachments/1164313809587019859/1165189025498406942/20231017_091933_1.png?ex=6545f1d7&is=65337cd7&hm=34ef6fac884cb7a19b1bd8b0f75f54d986f5d21eae1faec8011e0cc4c51bcffb&);"></div>

            <div id="overlay"></div>
            <section id="profile" class="modal">
                <div id="profile-pfp" style="background-image: url(https://cdn.discordapp.com/attachments/1164313809587019859/1165189025498406942/20231017_091933_1.png?ex=6545f1d7&is=65337cd7&hm=34ef6fac884cb7a19b1bd8b0f75f54d986f5d21eae1faec8011e0cc4c51bcffb&);"></div>
                <div id="profile-info">
                    <h2>Jonathan Lo</h2>
                    <hr>
                    <a href="/profile">My Profile</a>
                    <a href="/settings">Settings</a>
                    <hr>
                    <form action="/api/logout" method="POST">
                        <button id="logout" type="submit">Sign Out</button>
                    </form>
                </div>
            </section>

        </div>
    </nav>
    <div id="dashboard-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>