<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='imgs/logosmall.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <script src="{{url_for('static', filename='js/signup.js')}}" defer></script>
</head>
<body>
    <div id="center">
        <div id="box">
            <img id="logo" src="{{url_for('static', filename='imgs/logolong.png')}}" alt="logo">
            <span>Unlock your musical potential!</span>
            <form action="/signup">
                <label>Display Name</label>
                <input id="displayname" name="username" type="text">
                <label>Username</label>
                <input id="username" name="username" type="text">
                <label>Password</label>
                <input id="password" name="password" type="password">
                <label>Repeat Password</label>
                <input id="password-auth" name="password" type="password">
                <button id="submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
    <div id="error"><div id="error-box">Username or Password Incorrect</div></div>
</body>
</html>